.sidebar {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: var(--block-padding);
	border-radius: 4px;
	box-shadow: 0 0 0 1px var(--divider-color) inset;
}

.show-phone {
	font-size: 14px;
	border-bottom: 1px dashed;
	margin-top: 12px;
	cursor: pointer;
	transition-property: color;
}

.show-phone:hover {
	color: var(--accent-color);
}

.property {
	font-size: 14px;
	line-height: 1.5;
	margin-top: 12px;
}
