.advert-detail {
  --padding-top: var(--layout-horizontal-padding);
  --padding-bottom: calc(var(--layout-horizontal-padding) + var(--footer-height));
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.advert {
	--advert-width: 700px;
	width: var(--advert-width);
	padding: var(--block-padding);
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 0 0 1px var(--divider-color) inset;
}

.top {
	--text-height: 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	flex-grow: 1;
	height: var(--text-height);
	line-height: var(--text-height);
	font-size: 22px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.subcaption {
	margin-top: 8px;
	font-size: 14px;
	font-style: italic;
}

.price {
	flex-shrink: 0;
	height: var(--text-height);
	line-height: var(--text-height);
	font-size: 18px;
	white-space: nowrap;
	margin-left: 30px;
}

.main-image {
	width: 100%;
	height: 400px;
	margin-top: 16px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.gallary {
	--gap: 16px;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc((var(--gap) * -1) + 16px);
	margin-left: calc(var(--gap) * -1);
}

.small-image {
	--count-images: 4;
	width: calc(((var(--advert-width) - (var(--block-padding) * 2)) - (var(--gap) * (var(--count-images) - 1))) / var(--count-images));
	padding-top: 15%;
	margin-top: var(--gap);
	margin-left: var(--gap);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.values {
	padding: 16px 0;
	font-size: 15px;
	border-bottom: 1px solid var(--divider-color);
}

.value {
}

.value:nth-of-type(n+2) {
	margin-top: 8px;
}

.description {
	margin-top: 12px;
	font-size: 15px;
}

.sidebar {
	width: 300px;
	margin-left: 30px;
}
