.adverts {
  position: relative;
  & > .list {
    --gap: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--gap) * -1);
    margin-left: calc(var(--gap) * -1);
    & > .advert {
      flex-shrink: 0;
      margin-left: var(--gap);
      margin-top: var(--gap);
    }
  }
  & > .empty-message {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    color: var(--color-caption);
  }
}

.favorite-button {
  &:not(.is-favorite) {
    --color: #fff !important;
  }
  &.is-favorite {
    --color: var(--color-accent) !important;
  }
}
