{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "linebreak-style": "off",
    "react/require-default-props": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/label-has-for": "off",
    "no-plusplus": "off",
    "react/jsx-wrap-multilines": "off",
    "react/prefer-stateless-function": "off",
    "react/no-multi-comp": "off",
  },
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
