.add {
	& > form {
		max-width: 400px;
		margin-top: 20px;
		& > .divider {
			width: 100%;
			height: 1px;
			margin-top: 12px;
			margin-bottom: 12px;
			background-color: var(--color-divider);
		}
	}
}
