.button {
  --button-height: 32px;
  --button-padding: 16px;
  --button-radius: 2px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--button-height);
  padding: 0 var(--button-padding);
  line-height: var(--button-height);
  border: 0;
  border-radius: var(--button-radius);
  cursor: pointer;
  background-color: var(--background-color);
}

.button::before {
  content: '';
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: var(--button-radius);
  background-color: #000;
  opacity: 0;
  transition-property: opacity;
}

.button .caption {
  position: relative;
  z-index: 1;
  font-size: 14px;
  color: var(--color);
}

.button:not([disabled])[data-active]::before,
.button:not([disabled]):hover::before {
  opacity: 0.15;
}

.button:not([disabled])[data-type='primary'] {
  --background-color: var(--accent-color);
  --color: #fff;
}

.button:not([disabled])[data-type='danger'] {
  --background-color: var(--danger-color);
  --color: #fff;
}

.button:not([disabled])[data-type='transparent'] {
  --background-color: transparent;
}

.button[disabled] {
  --background-color: #f2f2f2;
  --color: #fff;
  cursor: auto;
}

.button[icon] .caption {
  margin-left: var(--button-padding);
}
