.field-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-width: 200px;
	& > .caption {
		--height: 16px;
		height: var(--height);
		line-height: var(--height);
		font-size: 15px;
		color: var(--color-caption);
	}
	& > .caption + input {
		margin-top: 8px;
	}
	& > input {
		--height: 36px;
		width: 100%;
		height: var(--height);
		line-height: var(--height);
		padding-left: 12px;
		padding-right: 12px;
		font-size: 15px;
		color: var(--color-text);
		background-color: #fff;
		border: 0;
		border-radius: 2px;
		box-shadow: 0 0 0 1px var(--color-divider) inset;
	}
	& > .errors {
		--height: 20px;
		display: flex;
		flex-direction: column;
		max-width: -webkit-fill-available;
		height: var(--height);
		opacity: var(--opacity);
		pointer-events: var(--pointer-events);
		transform: translateY(var(--transform));
		transition-property: opacity, transform;
		&:not(.show-errors) {
			--opacity: 0;
			--pointer-events: none;
			--transform: -2px;
		}
		&.show-errors {
			--opacity: 1;
			--pointer-events: auto;
			--transform: 0;
		}
		& > span {
			overflow: hidden;
			height: var(--height);
			line-height: var(--height);
			font-size: 12px;
			color: var(--color-error);
			white-space: nowrap;
			text-overflow: ellipsis;
			&:nth-of-type(n+2) {
				display: none;
			}
		}
	}
}
