.form {

}

.field-wrapper {
	--field-width: 100%;
	--field-height: 36px;
	position: relative;
	display: block;
	width: var(--field-width);
	min-height: var(--field-height);
}

.field-wrapper:nth-of-type(n+2) {
	margin-top: 16px;
}

.field {
	--horizontal-padding: 16px;
	--vertical-padding: 0;
	width: 100%;
	height: var(--field-height);
	padding: var(--vertical-padding) var(--horizontal-padding);
	border: 1px solid var(--divider-color);
	border-radius: 2px;
	font-size: 15px;
}

.field.textarea {
	--field-height: 250px;
	--vertical-padding: 16px;
	resize: none;
}

.field.select {
	--horizontal-padding: 12px;
}

.field-caption {
	--height: 16px;
	display: block;
	height: var(--height);
	margin-bottom: 8px;
	line-height: var(--height);
	font-size: 15px;
	color: var(--text-color);
}

.checkboxWrapper {
	--size: 20px;
	display: flex;
}

.checkbox-input {
	display: none;
}

.checkbox {
	--color: transparent;
	--background-color: transparent;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--size);
	height: var(--size);
	margin-right: 12px;
	background-color: var(--background-color);
	border-radius: 2px;
	cursor: pointer;
	box-shadow: 0 0 0 2px var(--accent-color) inset;
	transition-property: background-color;
}

.checkbox[data-checked] {
	--color: #fff;
	--background-color: var(--accent-color);
}

.checkbox-icon {
	--icon-size: 18px;
	--icon-color: var(--color);
}

.checkbox-caption {
	flex-grow: 1;
	line-height: var(--size);
	font-size: 15px;
	color: var(--text-color);
}

.field-wrapper.files {
	--field-height: auto;
}

.file-input {
	display: none;
}

.add-files-label {
	display: inline-block;
	cursor: pointer;
}

.add-files-label:hover .add-files-button:before {
  opacity: 0.15;
}

.add-files-button {
	pointer-events: none;
}

.store-image {
	width: 100px;
	height: 100px;
	margin-top: 12px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
