.register {
  flex-shrink: 0;
  display: block;
  width: 440px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 50px 50px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 0 1px var(--color-divider), 0px 3px 3px rgba(0, 0, 0, 0.136549);
  & > .title {
    --height: 20px;
    height: var(--height);
    margin-top: 30px;
    line-height: var(--height);
    font-size: 20px;
    text-align: center;
    font-weight: var(--font-weight-bold);
    color: var(--color-text);
  }
  & > .subcaption {
    margin-top: 8px;
    line-height: 18px;
    font-size: 13px;
    text-align: center;
    color: var(--color-caption);
  }
  & > .form {
    margin-top: 30px;
    & > .image {
      --size: 120px;
      position: relative;
      width: var(--size);
      height: var(--size);
      margin-left: auto;
      margin-right: auto;
      background-image: url('/images/user-image.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      & > .add-photo-button {
        --icon-size: 30px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        color: #fff;
        &:not(:hover) {
          --background-color: transparent;
          --color: transparent;
        }
        &:hover {
          --background-color: rgba(0, 0, 0, 0.2);
          --color: #fff;
        }
      }
    }
    & > .image + .field {
      margin-top: 30px;
    }
    & > .field {
      & > span {
        font-size: 13px;
      }
      & > input {
        --height: 40px;
        margin-top: 4px;
      }
    }
    & > .field + .field {
      margin-top: 20px;
    }
    & > .submit {
      --height: 40px;
      width: 100%;
      margin-top: 20px;
      & > span {
        text-transform: uppercase;
        font-size: 13px;
      }
    }
  }
}
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px !important;
  & > .files {
    margin-top: 30px;
  }
}
