.register {
	--horizontal-padding: 24px;
	--title-height: 60px;
	width: 550px;
}

.title {
	display: block;
	height: var(--title-height);
	line-height: var(--title-height);
	padding-left: var(--horizontal-padding);
	padding-right: var(--horizontal-padding);
	background-color: var(--color-accent);
	color: #fff;
	font-size: 20px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.form {
	overflow-x: hidden;
	overflow-y: auto;
	display: grid;
	grid-column-gap: 10px;
	grid-row-gap: 6px;
	grid-template-rows: [first-name-start last-name-start] auto [last-name-end first-name-end email-start phone-start] auto [phone-end email-end address-start] auto [address-end password-start confirm-password-start] auto [confirm-password-end password-end submit-start] auto [submit-end];
	grid-template-columns: [first-name-start email-start address-start password-start submit-start] 0.5fr [submit-end password-end email-end first-name-end last-name-start phone-start confirm-password-start] 0.5fr [address-end confirm-password-end phone-end last-name-end];
	max-height: calc(100vh - var(--header-height) - var(--title-height) - (var(--layout-padding) * 2));
	padding: 20px var(--horizontal-padding) 30px;
	& > .field-first-name {
		grid-area: first-name;
	}
	& > .field-last-name {
		grid-area: last-name;
	}
	& > .field-email {
		grid-area: email;
	}
	& > .field-phone {
		grid-area: phone;
	}
	& > .field-address {
		grid-area: address;
	}
	& > .field-password {
		grid-area: password;
	}
	& > .field-confirm-password {
		grid-area: confirm-password;
	}
	& > .button-submit {
		grid-area: submit;
	}
}

