.profile {
	display: flex;
	flex-direction: column;
	& > div {
		flex-grow: 1;
		min-height: 0;
	}
}

.content {
	display: flex;
	flex-direction: column;
	&:not(.chat) {
		& > div {
			padding: var(--layout-padding);
		}
	}
	&.chat {
		& > div {
			padding: 0;
		}
	}
	& > nav {
		--navigation-height: 54px;
		flex-shrink: 0;
		padding-left: var(--layout-padding);
		padding-right: var(--layout-padding);
		background-color: #fff;
	}
	& > div {
		flex-grow: 1;
		overflow-x: hidden;
		overflow-y: auto;
		min-height: 0;
		padding: var(--layout-padding);
	}
}

.modal {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.photo-form {
	margin-top: 20px;
}
