.item {
	--border-radius: 4px;
	--height-adv: 220px;
	position: relative;
	padding-bottom: var(--block-padding);
	padding-left: var(--block-padding);
	padding-right: var(--block-padding);
	border-radius: var(--border-radius);
	box-shadow: 0 0 0 1px var(--divider-color) inset;
}

.item:nth-of-type(n+2) {
	margin-top: var(--layout-horizontal-padding);
}

.title {
	--height: 56px;
	height: var(--height);
	line-height: var(--height);
	border-bottom: 1px solid var(--divider-color);
	font-size: 14px;
	text-transform: uppercase;
}

.section {
	margin-top: 16px;
}

.card {
	padding: 8px 0;
}
