.popup {
	z-index: 999;
	position: absolute;
  opacity: var(--opacity);
  pointer-events: var(--pointer-events);
  transition-property: opacity;
  &:not(:global(._shown)) {
    --opacity: 0;
    --pointer-events: none;
  }
  &:global(._shown) {
    --opacity: 1;
    --pointer-events: auto;
  }
}
