.login {
	--horizontal-padding: 24px;
	width: 300px;
}

.title {
	--height: 60px;
	display: block;
	height: var(--height);
	line-height: var(--height);
	padding-left: var(--horizontal-padding);
	padding-right: var(--horizontal-padding);
	background-color: var(--color-accent);
	color: #fff;
	font-size: 20px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.form {
	padding: 30px var(--horizontal-padding);
}

.button-submit {
	margin-top: 12px;
}
