.card {
	display: flex;
	height: var(--card-height);
	&:not(.multiple) {
		--card-height: 40px;
		align-items: center;
		& > .section > .text {
			--height: 14px;
			overflow: hidden;
			height: var(--height);
			line-height: var(--height);
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
	&.multiple {
		--card-height: auto;
		& > .section > .text {
			line-height: 1.4;
		}
	}
	& > .image {
		flex-shrink: 0;
		width: 40px;
		height: 40px;
		background-image: var(--image);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		border-radius: 50%;
	}
	& > .image + .section {
		margin-left: 12px;
	}
	& > .section {
		flex-grow: 1;
		position: relative;
		min-width: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: var(--card-height);
		& > header {
			--height: 16px;
			display: flex;
			align-items: center;
			& > .link {
				overflow: hidden;
				max-width: fit-content;
				height: var(--height);
				line-height: var(--height);
				font-size: 15px;
				color: var(--color);
				white-space: nowrap;
				text-overflow: ellipsis;
				transition-property: color;
				&:not(:hover) {
					--color: var(--color-text);
				}
				&:hover {
					--color: var(--color-accent);
				}
			}
			& > i {
				--icon_size: var(--height);
				flex-shrink: 0;
				margin-left: auto;
				&.like {
					--icon-color: var(--color-accent);
				}
				&.dislike {
					--icon-color: #d32f2f;
				}
			}
		}
		& > .text {
			margin-top: 6px;
			font-size: 13px;
			color: var(--color-text);
		}
	}
}
