.card {
	--image-size: 40px;
	--gap: 16px;
	display: flex;
	align-items: center;
}

.card[data-size='big'] {
	align-items: flex-start;
}

.card[data-size='big'] .caption {
	--height: auto;
	line-height: 1.5;
}

.image {
	flex-shrink: 0;
	width: var(--image-size);
	height: var(--image-size);
	margin-right: var(--gap);
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.section {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	max-width: calc(100% - (var(--image-size) + var(--gap)));
}

.title {
	--height: 16px;
	--color: var(--text-color);
	height: var(--height);
	max-width: 100%;
	line-height: var(--height);
	font-size: 14px;
	font-weight: var(--font-weight-bold);
	color: var(--color);
	transition-property: color;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.link {
	--color: var(--accent-color);
}

.link:hover {
	--color: var(--passive-color);
}

.caption {
	--height: 16px;
	height: var(--height);
	line-height: var(--height);
	font-size: 12px;
	margin-top: 4px;
}
