.card-advert {
	--tooltip-height: 100px;
	position: relative;
	flex-shrink: 0;
	width: 300px;
	height: 220px;
	margin-left: var(--gap);
	margin-top: var(--gap);
	& > .image {
		width: 100%;
		height: 100%;
		background-image: var(--image);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	& > .tooltip {
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width: 100%;
		height: var(--tooltip-height);
		padding-left: 16px;
		padding-right: 16px;
		z-index: 1;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.5);
			pointer-events: none;
			z-index: -1;
		}
		& > .title {
			--height: 20px;
			overflow: hidden;
			flex-shrink: 0;
			height: var(--height);
			line-height: var(--height);
			font-size: 16px;
			white-space: nowrap;
			text-overflow: ellipsis;
			color: #fff;
		}
		& > .actions {
			display: flex;
			width: 100%;
			margin-top: 8px;
			& > button {
				--padding: 10px;
				margin-bottom: calc(((var(--height) - var(--icon-size)) / 2) * -1);
				&:nth-of-type(1) {
					margin-left: calc(var(--padding) * -1);
				}
				&:not(:hover) {
					--color: #fff;
				}
				&:hover {
					--color: var(--color-accent);
				}
			}
		}
	}
}
