.wrapper-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: var(--opacity);
  pointer-events: var(--pointer-events);
  transform: translateY(var(--transform));
  transition-property: opacity, transform;
  &:not(:global(._is-shown)) {
    --opacity: 0;
    --pointer-events: none;
    --transform: 10px;
  }
  &:global(._is-shown) {
    --opacity: 1;
    --pointer-events: auto;
    --transform: 0;
  }
  & > .modal {
    --width: 700px;
    width: var(--width);
    background-color: #fff;
    border-radius: 2px;
    & > .header {
      --header-height: 50px;
      display: flex;
      height: var(--header-height);
      padding-left: 20px;
      background-color: #f7f7f7;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      box-shadow: 0 -1px var(--color-divider) inset;
      & > .title {
        overflow: hidden;
        height: var(--header-height);
        line-height: var(--header-height);
        font-size: 15px;
        color: var(--color-text);
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      & > button {
        --height: var(--header-height);
        width: var(--height);
        margin-left: auto;
        &:not(:hover) {
          --color: rgba(0, 0, 0, 0.4);
        }
        &:hover {
          --color: rgba(0, 0, 0, 0.7);
        }
      }
    }
    & > .content {
      overflow-x: hidden;
      overflow-y: auto;
      max-height: 400px;
      padding: 20px;
      font-size: 15px;
      color: var(--color-text);
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
    }
  }
}
