.popup {
  top: calc(var(--header-height) + 10px);
  right: var(--layout-horizontal-padding);
  background-color: #fff;
  border-radius: 4px;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.17));
}

.popup::before {
  --size: 4px;
  content: "";
  z-index: 1;
  position: absolute;
  top: calc(var(--size) * -1);
  right: 20px;
  width: calc(var(--size) * 2);
  height: calc(var(--size) * 2);
  background-color: #fff;
  box-shadow: 1px 0 var(--color--divider) inset, 0 1px var(--color--divider) inset;
  transform: rotate(45deg);
}

.user-links {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}

.button {
  --button-height: 40px;
  justify-content: flex-start;
  width: 100%;
}
