.advert {
  display: flex;
  justify-content: center;
  padding-top: var(--layout-padding);
  padding-bottom: var(--layout-padding);
  & > .advert-details {
    flex-shrink: 0;
    width: var(--advert-content-width);
    height: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 0 1px var(--color-divider) inset;
    & > .header {
      & > .title {
        display: flex;
        align-items: center;
        & > h2 {
          --height: 24px;
          flex-grow: 1;
          overflow: hidden;
          min-width: 0;
          height: var(--height);
          margin-right: auto;
          line-height: var(--height);
          font-size: 22px;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: var(--color-text);
        }
        & > span {
          --height: 16px;
          flex-shrink: 0;
          height: var(--height);
          margin-left: 16px;
          line-height: var(--height);
          font-size: 16px;
          color: var(--color-text)
        }
      }
      & > .description {
        display: flex;
        align-items: center;
        height: var(--minimal-button-size);
        & > p {
          --height: 16px;
          height: var(--height);
          line-height: var(--height);
          font-style: italic;
          font-size: 13px;
          color: var(--color-caption);
        }
        & > button {
          --icon-size: 18px;
          margin-left: auto;
          margin-right: calc(var(--padding) * -1);
          &:not(.is-favorite) {
            --color: #000;
          }
          &.is-favorite {
            --color: var(--color-accent);
          }
        }
      }
    }
    & > .image {
      width: 100%;
      height: 300px;
      margin-top: 8px;
      background-image: var(--image);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    & > .category {
      margin-top: 16px;
      font-size: 15px;
      color: var(--color-text);
      & > .name-category {
        color: var(--color-caption);
      }
    }
    & > .article {
      margin-top: 16px;
      & > p {
        line-height: 1.5;
        font-size: 15px;
        color: var(--color-text);
      }
    }
  }
  & > .sidebar {
    flex-shrink: 0;
    width: var(--sidebar-width);
    height: 100%;
    margin-left: var(--layout-padding);
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px var(--color-divider) inset;
    & > .properties {
      margin-top: 20px;
      & > .item {
        display: flex;
        &:nth-of-type(n+2) {
          margin-top: 8px;
        }
        & > i {
          --icon-size: 14px;
          --icon-color: var(--color-text);
          margin-top: 3px;
        }
        & > .text {
          margin-left: 12px;
          font-size: 14px;
          color: var(--color-text);
        }
      }
    }
    & > .white-user {
      margin-top: 16px;
    }
  }
}
