.main {
	display: flex;
	justify-content: center;
	padding-top: var(--layout-horizontal-padding);
	padding-bottom: var(--layout-horizontal-padding);
}

.list {
	flex-grow: 1;
	max-width: 700px;
	height: 100%;
}

.sidebar {
	flex-shrink: 0;
	width: 300px;
	height: 100%;
	margin-left: var(--layout-horizontal-padding);
}
