.main {
  --padding-top: var(--layout-horizontal-padding);
  --padding-bottom: calc(var(--layout-horizontal-padding) + var(--footer-height));
	display: flex;
	justify-content: center;
}

.list {
	width: 700px;
}

.sidebar {
	width: 300px;
	margin-left: 30px;
}
