.header {
  --header-text-color: #fff;
  z-index: 2;
  position: fixed;
  display: flex;
  left: 0;
  width: 100%;
  height: var(--header-height);
  padding: 0 var(--layout-horizontal-padding);
  background-color: var(--accent-color);
}

.logo {
  flex-shrink: 0;
  height: var(--header-height);
  line-height: var(--header-height);
  font-size: 20px;
  color: var(--header-text-color);
  font-weight: var(--font-weight-light);
}

.links {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.add-adv {

}

.person {
  width: var(--header-height);
  --icon-color: #fff;
}

.add-adv,
.person {
  --button-height: var(--header-height);
  --color: #fff;
}
