.header {
  z-index: 2;
  flex-shrink: 0;
  display: flex;
  height: var(--header-height);
  padding: 0 var(--layout-horizontal-padding);
  background-color: var(--accent-color);
}

.logo {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  height: var(--header-height);
  line-height: var(--header-height);}

.logo > img {
  --size: 34px;
  max-width: var(--size);
  max-height: var(--size);
}

.logo > h1 {
  margin-left: 8px;
  font-size: 18px;
  color: #fff;
  font-weight: var(--font-weight-light);
}

.links {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.add-adv {

}

.person {
  width: var(--header-height);
  --icon-color: #fff;
}

.add-adv,
.person {
  --button-height: var(--header-height);
  --color: #fff;
}
