.advert-list-page {

}

.title {
	--height: 16px;
	height: var(--height);
	margin-bottom: 16px;
	line-height: var(--height);
	font-size: 15px;
	font-weight: var(--font-weight-bold);
}

.advert-list {
	--gap: var(--block-padding);
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(var(--gap) * -1);
	margin-left: calc(var(--gap) * -1);
}

.advert {
	margin-top: var(--gap);
	margin-left: var(--gap);
}
