.reviews-list-page {

}

.button {

}

.reviews-list {
	--gap: 16px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: calc((var(--gap) * -1) + 16px);
}

.card {
	width: 400px;
	margin-top: var(--gap);
	padding: 8px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 0 0 1px var(--divider-color) inset;
}
