.profile {
	display: flex;
	& > .sidebar {
		flex-shrink: 0;
		width: var(--sidebar-width);
		background-color: #fff;
		box-shadow: -1px 0 var(--color-divider) inset;
		& > .header {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 250px;
			box-shadow: 0 -1px var(--color-divider) inset;
			& > .user-image {
				position: relative;
				width: 120px;
				height: 120px;
				border-radius: 50%;
				background-image: var(--image);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				& > .photoButton {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-radius: 50%;
					color: #fff;
					&:not(:hover) {
						--background-color: transparent;
						--color: transparent;
					}
					&:hover {
						--background-color: rgba(0, 0, 0, 0.2);
						--color: #fff;
					}
				}
			}
			& > .user-name {
				--height: 16px;
				height: var(--height);
				margin-top: 16px;
				line-height: var(--height);
				font-size: 15px;
				color: var(--color-text);
			}
		}
		& > .properties {
			display: flex;
			flex-direction: column;
			padding-left: 20px;
			padding-right: 20px;
			& > h3 {
				--height: 58px;
				flex-shrink: 0;
				display: block;
				height: var(--height);
				line-height: var(--height);
				font-size: 13px;
				color: #444;
				font-weight: var(--font-weight-bold);
				text-transform: uppercase;
				box-shadow: 0 -1px var(--color-divider) inset;
				& + .property {
					margin-top: 20px;
				}
			}
			& > .property {
				flex-shrink: 0;
				display: flex;
				padding-top: 4px;
				padding-bottom: 4px;
				& > .icon {
					--icon_size: 20px;
					--icon-color: var(--color-text);
				}
				& > .property-value {
					margin-left: 12px;
					font-size: 14px;
					color: var(--color-caption);
				}
			}
		}
	}
	& > .content {
		flex-grow: 1;
		min-width: 0;
		overflow-x: hidden;
		overflow-y: auto;
	}
}
