@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic');
@import 'normalize.css';
@import './variables.css';

:root {
  font-size: 16px;
  color: var(--text-color);
  background: var(--background-color);
  user-select: none;
}

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: var(--font-weight-regular);
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: none;
}

/* Костыль */
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

p:nth-of-type(n+2) {
  margin-top: 8px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  transition-property: none;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  --padding-top: var(--layout-horizontal-padding);
  --padding-bottom: calc(var(--layout-horizontal-padding) + var(--footer-height));
  position: relative;
  min-height: 0;
  flex-grow: 1;
  margin-top: var(--header-height);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}
