:root {
  /* Colors */
  --color-text: rgba(0, 0, 0, 0.87);
  --color-background: #fcfcfc;
  --color-background-hover: #f3f3f3;
  --color-accent: #1e88e5;
  --color-error: #f44336;
  --color-divider: #ebebeb;
  --color-caption: #666;

  /* Custom */
  --layout-padding: 30px;
  --button-initial-padding: 8px;
  --header-height: 50px;
  --minimal-button-size: 36px;
  --advert-content-width: 600px;
  --sidebar-width: 300px;

  /* Font variables */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 500;
}
