.list {
  flex-shrink: 0;
  width: var(--advert-content-width);
  display: flex;
  flex-direction: column;
  & > .item {
    --height: 220px;
    flex-shrink: 0;
    display: flex;
    width: 100%;
    height: var(--height);
    border-radius: 2px;
    box-shadow: 0 0 0 1px var(--color-divider);
    &:nth-of-type(n+2) {
      margin-top: 30px;
    }
    & > .image {
      flex-shrink: 0;
      width: var(--height);
      height: 100%;
      background-image: var(--image);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
    }
    & > .content {
      flex-grow: 1;
      min-width: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
      padding: 20px;
      background-color: #fff;
      border-top-right-radius: inherit;
      border-bottom-right-radius: inherit;
      & > * {
        flex-shrink: 0;
      }
      & > .header {
        display: flex;
        width: 100%;
        & > div {
          flex-grow: 1;
          min-width: 0;
          margin-right: auto;
        }
        & > div + .price {
          margin-left: 12px;
        }
        & > button {
          --icon-size: 18px;
          flex-shrink: 0;
          margin-top: calc(((var(--height) - var(--icon-size)) / 2) * -1);
          &:not(.is-favorite) {
            --color: #000;
          }
          &.is-favorite {
            --color: var(--color-accent)
          }
        }
        & > .price {
          --height: 20px;
          flex-shrink: 0;
          height: var(--height);
          line-height: var(--height);
          font-size: 18px;
          color: var(--color-text);
        }
      }
      & > h3,
      & > .category,
      & > .address {
        overflow: hidden;
        max-width: -webkit-fill-available;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      & > h3 {
        --height: 20px;
        height: var(--height);
        margin-top: 16px;
        line-height: var(--height);
        font-size: 18px;
        color: var(--color-text);
      }
      & > .category {
        --height: 13px;
        height: var(--height);
        margin-top: 12px;
        line-height: var(--height);
        font-size: 13px;
        color: var(--color-text);
      }
      & > .address {
        --height: 13px;
        height: var(--height);
        margin-top: 6px;
        line-height: var(--height);
        font-size: 13px;
        color: var(--color-text);
      }
      & > .button {
        --height: 32px;
        z-index: 2;
        position: relative;
        height: var(--height);
        margin-top: 16px;
        padding-left: 12px;
        padding-right: 12px;
        line-height: var(--height);
        font-size: 15px;
        color: #fff;
        background-color: var(--color-accent);
        border-radius: 2px;
        &:not(:hover) {
          --opacity: 0;
        }
        &:hover {
          --opacity: 1;
        }
        &::before {
          z-index: -1;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: inherit;
          opacity: var(--opacity);
          background-color: rgba(0, 0, 0, 0.1);
          transition-property: opacity;
        }
      }
    }
  }
}
